.cell {
    width: 50px;
    height: 50px;
    background-color: rgb(129, 155, 136);
    cursor: pointer;
}

.num-grid {
    font-size: 8pt;
    gap: 1px;
}

.num-grid * {
    width: 16px; /* Ensure that width * 3 + 2 * gap = cell width. Same for height*/
    height: 16px;
    background-color: cornsilk;
}

.num-pair * {
    background-color: cornsilk;
}

.big-num {
    font-weight: bold;
    font-size: 20pt;
}

.selected {
    background-color: rgb(209, 250, 250);
}

.highlighted {
    background-color: rgb(238, 255, 255);
}

.clue {
    color: rgb(71, 65, 31);
}

.box, .grid {
    background-color: black;
    gap: 1px;
}

.grid {
    gap: 2px;
    border: 2px solid black;
}
